@import "tailwindcss";

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-inconsolata: "Inconsolata";
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: "Inconsolata";
  font-size: 28px;
}

@media (max-width: 640px) {
  h1 {
    font-size: 20px;
  }
}
